<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">jdbc:postgresql://revaturedb.cqxn0f6ksosc.us-east-2.rds.amazonaws.com:5432/postgres</property>
		<property name="hibernate.connection.username">c135792468</property>
		<property name="hibernate.connection.password">Yy19901030</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
	
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.show_sql">true</property>
	
		<mapping resource="mapping/Account.hbm.xml"/>
		<mapping resource="mapping/AccountInfo.hbm.xml"/>
		<mapping resource="mapping/Pokemon.hbm.xml"/>
		<mapping resource="mapping/Items.hbm.xml"/>    
		
	<!--	<property name="hibernate.hbm2ddl.auto">validate</property>
		<property name="hibernate.show_sql">true</property>
		
		<mapping class="com.revature.project2.model.Account"/>
		<mapping class="com.revature.project2.model.AccountInfo"/>
		<mapping class="com.revature.project2.model.Items"/>
		<mapping class="com.revature.project2.model.Pokemon"/> -->
	</session-factory>
</hibernate-configuration>